.wy-side-nav-search {
    background-color: black;
}

.wy-nav-top {
    background-color: rebeccapurple;
}

video {
    border: solid gray 1px;
    width: 100%;
    max-height: 600px;
    margin-bottom: 30px;
}